
@{
    ViewBag.Title = "Éxito";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container">
    <div class="card mt-3">
        <div class="card-header">¡Listo!</div>
        <div class="card-body"><p><span style="font-size: 18px; color:greenyellow;"><i class="bi bi-check2-circle"></i></span> Restableciste la contraseña correctamente.</p></div>
        <div class="card-footer">@Html.ActionLink("Aceptar", "Login", "Acceso", new { }, new { @class = "btn btn-secondary" })</div>
    </div>
</div>



